<div class="container mt-5">
    <h4 class="mb-4">Task List</h4>
    {{#each taskData}}
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-body mb-4">
                <h5 class="mb-2">{{title}}</h5>
                <p class="mb-0">{{details}}</p>
                <div class="d-inline-block">
                    <a href="/edit_task/{{_id}}" class="btn btn-info mt-4 d-inline-block">Edit</a>
                </div>
                 <Form action="/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-danger btn-block mt-2" value="delete">
                </Form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card card-body mb-4">
        <h5 class="mb-0 text-capitalize">No task found.</h5>
    </div>
    {{/each}}
</div>